@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html,body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

.navbar{
    display: flex;
    margin: 0;
    justify-content: space-between;
    background-color: #45474B;
    padding: 10px;
    border-radius: 5px;
    height: 35px;
}

.navigate{
    display: flex;
    list-style: none;
    padding: 0;
    margin:0;
    gap: 25px;
    color: #F7F7F7;
    font-family: roboto;
}

.navigate-left {
    display: flex;
    align-items: center;
    text-align: left;
}

.navigate-right{
    display: flex;
    align-items: center;
    text-align: right;
}